.wrapper {
  width: 620px;

  background: #F2F2F2;
  box-shadow: 0 4px 4px 0 #C8C8C8;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  width: 620px;
  height: 76px;

  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  width: 1.5rem;
  height: 1.5rem;

  background: #FFFFFF;

  margin: 0 1rem;
  border-radius: 2px;
}

.title {
  width: 248px;
  height: 28px;

  font-family: Roboto-Medium;
  font-size: 1.5rem;
}

.title::placeholder {
  color: #000000;
}

.footer {
  /* width: 620px;
  height: 30px; */
}

.cancel,
.add-todo {
  width: 50%;
  height: 60px;

  border: 0;

  font-size: 1.5rem;
}

.cancel {
  background: #FFFFFF;
  color: #D0021B;
}

.add-todo {
  background: #4A90E2;
  color: #FFFFFF;
}